<!DOCTYPE html>
<html>
  <head>
    <title>API Demos</title>
  </head>

  <body>
  <p> HERE BE some API demos! </p>
  <br>
  <p> Demo 1: jService API. This service returns questions that have appeared on
  Jeopardy. </p>
	<p> Question: {{ jquestion }} </p>
  <p> Answer: {{ janswer }} </p>
  <p> Created: {{jcreate }} </p>
  <br>
  <p> Demo 2: Advice Slip API. This service provides random advice for one to succeed in life. </p>
  <p> Key2Success: {{ advice }} </p>
  <br>
  <p> Demo 3: Climate Data API. This service provides climate data on any country or basin for a range of years.
  In this demo I will be checking the monthly averages in the USA between the year 2020 and 2039 based on the simulator
  provided by the API.</p>
  <p> Predicted Monthly Temperatures: {{ temps }} </p>


  </body>
</html>
